<div>
	<div><%= attachment_image_tag @feed, :image, size: '800x350' %></div>
	<div id="favorite_btn">
		<%= render 'favorite_form', feed: @feed %>
	</div>
	<h2><%= @feed.title %></h2>
	<p><%= @feed.body %></p>
</div>