<%= render 'header', company: @company, headquarters: @headquarters %>
<div class="about-container">
	<section>
		<h2>なにをやっているのか</h2>
		<p><%= @company.what %></p>
	</section>
	<section>
		<h2>なぜやるのか</h2>
		<p><%= @company.why %></p>
	</section>
	<section>
		<h2>どうやっているのか</h2>
		<p><%= @company.how %></p>
	</section>
</div>