<%= render 'header', company: @company, headquarters: @headquarters %>
<div class="member-container">
	<ul>
		<% @members.each do |member| %>
			<%= link_to user_path(member) do %>
				<li>
					<%= attachment_image_tag member, :image, fallback: "no_image.jpg", size: '130x130' %>
					<h4><%= member.name %></h4>
				</li>		
			<% end %>
		<% end %>
	</ul>
</div>