<div class="col-sm-12">
    <h1>『はたらく』を面白く</h1>
    <p id="sub-title">Rは、月間1人が利用するビジネスSNSです</p>
    <li id="top-sign-up"><%= link_to 'emailで登録', new_user_registration_path, class: "btn btn-default" %></li>
</div>
