/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-sprockets";
@import "bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.text-center {
    text-align: center;
}

.form-container {
    width: 50%;
    margin: 0 auto;
}

.form-title {
    text-align: center;
    margin-bottom: 50px;
}

.form-group {
    margin-top: 30px;
}

form {
    label {
        font-size: 17px;
    }
}

.notification {
    width: 100%;
    margin-bottom: 30px;

    p {
        padding: 15px 0;
        color: #fff;
        background: #00a4bb;
        opacity: 0.4;
        font-size: 20px;
        text-align: center;
    }
}

body {
    background: #f9f9f9;
}

h1 {
    font-size: 45px;
    text-align: center;
    margin-top: 80px;
}

header {
    position: relative;

    #logout {
        position: absolute;
        right: 15px;
    }
}

.header {
    display: flex;
    font-size: 18px;
    background: #24282a;
    position: relative;
    margin-bottom: 0;

    li {
        margin: 0 15px;
        padding: 20px 0;

        strong {
            width: 22px;
            padding: 10px 15px;
            color: #fff;
            background: #0d93e0;
            line-height: 22px;
            border-radius: 5px;
        }

        a {
            color: #ccc;
        }

        input {
            width: 200px;
            background: #45494b;
            color: #d7dbdf;
            border-radius: 5px;
            height: 43px;
            border: 1px solid #45494b;
            padding: 0 20px;
            font-size: 15px;
            margin: 11px 0;
            font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        button {
            background: #45494b;
            border-radius: 20px;
            width: 43px;
            height: 43px;
            border: 0px;
            position: relative;
            top: 3px;
        }

        .fa-search {
            font-size: 28px;
            color: #d7dbdf;
            position: relative;
            top: 2px;
        }
    }

    #header-search {
        padding: 0;
    }

    #logut {
        position: absolute;
        right: 15px;
    }

    #logout-right {
        position: absolute;
        right: 0;
        margin-right: 15px;
    }
}

.index-table {
    th {
        font-weight: normal;
        font-size: 15px;
        color: #9da0a4;
        padding: 10px 15px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    td {
        padding: 10px 15px;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    th:first-child,
    td:first-child {
        width: 500px;
        text-align: center;
        .table-cell-inner {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            .black-link {
                color: #45494b;
            }
        }
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 220px;
        text-align: center;
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 150px;
        text-align: center;
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 120px;
        text-align: center;
    }

    th:last-child,
    td:last-child {
        width: 170px;
        text-align: center;
        color: #ffffff;
        border-left: 1px solid #ddd;
        border-top: 0;
        border-bottom: 0;
    }
}

.message-title {
    background: #fff;
    padding: 15px;
    border: 1px solid #e3e3e3;

    img {
        border-radius: 50%;
    }

    .message-user-name {
        display: inline-block;

        strong {
            margin-left: 10px;
            font-size: 18px;
        }
    }
}

.message-box {
    background: #fff;
    padding: 10px 0 5px;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;

    .left-message {
        display: flex;
        padding: 15px 10px;

        img {
            border-radius: 50%;
        }

        .left-content {
            position: relative;

            p {
                position: absolute;
                padding: 9px 12px;
                background: #eeeeee;
                border-radius: 10px;
            }
        }
    }

    .right-message {
        text-align: right;
        .right-content {
            display: inline-block;
            float: none;

            p {
                display: inline-block;
                padding: 9px 12px;
                background: #00ff00;
                border-radius: 10px;
            }
        }
    }
}
.message-form {
    margin-top: 0;
    form {
        display: flex;
    }
}
